COMPANY_NAME="Serious Professionals"
COMPANY_ADDRESS_LINE_0="15 Fake Street,"
COMPANY_ADDRESS_LINE_1="Somewhere,"
COMPANY_ADDRESS_LINE_2="Place,"
COMPANY_ADDRESS_LINE_3="Greenland"
COMPANY_ACCOUNT_NAME="Serious Legal Name Limited."
COMPANY_BANK_NAME="Greedy Bankers PLC"
COMPANY_IBAN="xxxxxxxxxxxxxxxxxxxxxxx"
COMPANY_BIC="yyyyyyyyyy"
